body {
    background: beige;
}

.grand-titre:hover {
    color: aqua;
}

.moyen-titre {
    color: brown;
}

#ul {
    color: blueviolet;
}

li:first-child:hover{
    color: gold;
}

a:visited {
    color: red;
}
a:link {
    color:blue;
}

h2 + a {
    color: green;
}
/* #le sytle est applqué sur toutes image du dossier img */
img[src^= "../img"] {
   border: 1px solid black;
}

/*le sytle est applqué sur toutes le h2 dont class="quelque-chose"*/
h2[class="quelque-chose"]{
    background: brown;
}
/*no-repeat:une seul photo dans la div*/
/*rgba la 4  valeur corresnpond à l'oppacité*/
body {
    background: url("./../photo/product/par.jpg");
    background-repeat: no-repeat;
    background-size: 10px 15 px;
    background-color: rgb(15, 54, 87);
    background-color: rgba(87, 45, 21, 0.2);
}
.monDiv {
    height: 50px;
    width: 50px;
    border: 5px solid black;
    background-size: 10px 15 px;
    background-color: rgb(15, 54, 87);
}

.div1 {
 height: 120px;
 width: 50px;

 background: linear-gradient(to right, red,blue);
 background: linear-gradient(to top, red,blue);
 background: linear-gradient(to top right, red,blue);
}
.div2 {
 height: 400px;
 width: 300px;
 background: radial-gradient(red,green);
 background: radial-gradient(red,green,black);
 background: radial-gradient(red 15%,green 15%,black);
}