.container {
    height: 50%;
    width: 50%;
    border: 2px solid black;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-item {
    height: 50px;
    width: 50px;
    border: 2px solid blanchedalmond;
    background-color: cadetblue;
}

body {
    background-color: black;
}

.container2{
    height: 50%;
    width: 50%;
    border: 2px solid black;
    background-color:gold;
    display: flex;
    flex-direction: column;
}

.container2-item {
    height: 50px;
    width: 50px;
    border: 2px solid blanchedalmond;
    background-color:violet;
    
}

.grid-container{
    height: 50%;
    width: 50%;
    border: 2px solid black;
    background-color: chocolate;
    display: grid;
    grid-template-columns: 10px 20px 10px;

}
.grid-item{
    height: 50px;
    width: 50px;
    
}

